<div class='row'>
  <div class='col-md-6'>
    <h2>Login</h2>

    <form class='form login-form'>
      <div class='form-group'>
        <label for='email-login'>Email:</label>
        <input
          class='form-input'
          type='text'
          id='email-login'
          aria-describedby='email'
          placeholder='Enter Email'
        />
      </div>

      <div class='form-group'>
        <label for='password-login'>password:</label>
        <input
          class='form-input'
          type='password'
          id='password-login'
          placeholder='Enter Password'
        />
      </div>

      <div class='form-group'>
        <button
          class='btn btn-primary'
          type='submit'
          class='btn btn-dark loginbtn'
          id='logInBtn'
        >Submit</button>
      </div>
    </form>
  </div>

  <div class='col-md-6'>
    <h2>Signup</h2>

  <br />
  <small id="signupinfo" class="form-text text-muted">Dont have an account? Sign
    up!
  </small>
  <br />
  <div>
    <a href="/signup"><button class="btn btn-dark signupbtn">
        Sign Up!
      </button></a>
  </div>
  <script src="./js/userfeatures/login.js"></script>
</div>

{{!-- p2 --}}
    {{!-- <form class='form signup-form'>
      <div class='form-group'>
        <label for='name-signup'>name:</label>
        <input class='form-input' type='text' id='name-signup' />
      </div>
      <div class='form-group'>
        <label for='email-signup'>email:</label>
        <input class='form-input' type='text' id='email-signup' />
      </div>
      <div class='form-group'>
        <label for='password-signup'>password:</label>
        <input class='form-input' type='password' id='password-signup' />
      </div>
      <div class='form-group'>
        <button class='btn btn-primary' type='submit'>signup</button>
      </div>
    </form>
  </div>
</div> --}}

<script src='./js/login.js'></script>