<!-- displaying articles -->
<div>
  {{> post-info post}}
</div>


{{> comments post.comments}}

<!-- displaying form and comments-->
<!-- only display if logged in -->
{{#if logged_in}}
<form class="comment-form">
  <div>
    <textarea class="ml-5" name="comment-body"></textarea>
  </div>

  <div>
    <button class="button is-warning ml-5 mb-5" type="submit">Add Comment</button>
  </div>
  
</form>
{{/if}}


{{!-- {{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}} --}}
<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/update-post.js"></script>
